<%= form_for @job do |f| %>
    <p>
        <%= f.label :name %><br>
        <%= f.text_field :name %>
     </p>

    <p>
        <%= f.label :contract_amount %><br>
        <%= f.text_field :contract_amount %>
    </p>

    <p>
        <%= f.label :contract_date %><br>
        <%= f.date_field :contract_date %>
    </p>

    <p>
        <%= f.label :status%><br>
        <%= f.check_box :status %>
    </p>

    <p>
        <%= f.submit %>
    </p>

<% end %>