<h1 class="name">
    <%= @job.name %>
</h1>

<p class="contract_amount">
    <%= number_to_currency(@job.contract_amount, :precision => 2) %>
</p>

<p class="contract_date">
    <%= @job.contract_date.strftime("%m/%d/%Y")  %>
</p>

<p class="Status">
    <%= @job.status %>
</p>

<p>
    <%= link_to "All Jobs", jobs_path, class: 'btn btn-primary'%> 
    <%= link_to "Edit", edit_job_path(@job),class: 'btn btn-primary' %> 
    <%= link_to "Delete", job_path(@job), class: 'btn btn-danger', data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
    
</p>


